/* .mySlider {
    width: 100%; 
}

.mySwiper2 {
    width: 100%; 
} */

.mySlider{
    padding: 0 0 100px 0;
}
.recentProjectsInnerSlider{
    height: 460px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: transparent;
    position: relative;
    border-radius: 25px;
}

.recentProjectsInnerSlider .playButton{
    position: absolute;
    right: 8%;
    top: 14%;
}

.title_subtitle{
    position: absolute;
    bottom: 10%;
    left: 5%;
}

.title_subtitle h1{
    line-height: 38.3px;
    font-size: 28px;
    font-weight: 700;
    color: #fff;
}
.title_subtitle h3{
    line-height: 24px;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
}

@media only screen and (max-width: 480px){
    .mySlider{
        height: 300px;
        padding: 20px 0px !important;

    }
    .mainHeading {
        font-size: 22px;
        line-height: 31px;
        font-weight: 700;
        color: #fff;
        margin-bottom: 18px;
    }
    .recentProjectsInnerSlider{
        height: 180px;
    }
    .recentProjectsInnerSlider .playButton {
        width: auto !important;
        height: 40px !important;
        object-fit: contain !important;
    }
}


.videoModal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.5);
    padding: 50px;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    z-index: 99999999;
}

.videoModal.show-vimeo-video{
    visibility: visible;
    opacity: 1;
}

.videoContainer{
    display: flex;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-color: transparent;
    z-index: 999999999;
    position: relative;
    align-items: start;
    justify-content: start;
}

.closeButton{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 10px;
    right: 50px;
    width: 30px;
    height: 30px;
    background-color: #fff;
    border: none !important;
    outline: auto;
    cursor: pointer;
    font-size: 15px;
    border-radius: 50%;
}

@media only screen and (max-width: 480px){
    .videoContainer{
        height: max-content;
    }

    .closeButton{
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 5px;
        right: 15px;
        width: 15px;
        height: 15px;
        background-color: transparent;
        color: #fff;
        border: none !important;
        outline: none;
        cursor: pointer;
        font-size: 15px;
        border-radius: 50%;
    }
}








