.readyToAsk{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 47px 50px;
    margin: 0px 120px ;
    border-radius: 46px;
    background-color: rgba(2, 37, 50, 1);
    margin-bottom: 60px;
}

@media only screen and (max-width: 480px){
    .readyToAsk {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 10px 20px;
        margin: 0 0 0 24px;
        border-radius: 20px;
        background-color: rgba(2, 37, 50, 1);
        margin-bottom: 60px;
        width: 90%;
    }
}
