.our_partners{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    padding: 100px 0;
    margin: 0 auto;
}

.our_partners_logos{
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    grid-gap: 10px; 
    /* width: 80%; */
    margin: 0 auto;
}


.our_partners_logos img {
    width: 70%;
    height: auto; 
    object-fit: contain; 
    margin: 0 auto;
    filter: grayscale(1);
    opacity: 0.5; 
    transition: filter 0.6s ease, opacity 0.6s ease;
    cursor: pointer;
}

.our_partners_logos img:hover {
    filter: grayscale(0);
    opacity: 1; 
}

@media only screen and (max-width: 480px){
    .shortDescription {
        color: #fff;
        font-size: 12px;
        font-weight: 500;
        text-align: center;
        line-height: 18px;
        margin-bottom: 20px;
    }
    .our_partners_logos {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        /* width: 80%; */
        margin: 0 auto;
    }
}