
.service-name{
    display: flex;
    width: 100%;
    padding: 70px 120px;
    justify-content: space-between;  
    overflow: hidden;
}

.service-poster{
    display: flex;
    align-items: center;
    /* justify-content: start; */
    width: 50%;
    height: auto;

}

.service-poster-borders-1{
    display: flex;
    position: relative;
    border: 1px solid var(--border-color);
    height: 380px;
    width: 380px;
    /* background-color: #fff; */
    /* background: #01141D; */
    background: #0C273380;


}

.service-card-image-overlay{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    align-items: center;
    justify-content: center;
    z-index: 99999;
    top: -10px;
    right: -10px;
    overflow: hidden;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease;
}

.service-card-image-overlay.round-overlay{
    border-radius: 10px;
    top: 0;
    right: 0;
}

/* .service-card-image-overlay{
    visibility: visible;
    opacity: 1;
} */

.service-card-image-overlay.show-overlay{
    visibility: visible;
    background-image: url('../../Assets/services-images/services-overlay-image.png');
    /* height: 100%; */
    opacity: 1;
}

.service-overlay-head{
    transform: translate(-60%, -200%);
    transition: all 0.3s ease-in-out;
}

.service-overlay-head.transit-overlay-head{
    transform: translate(0%, 0%);
}

.services-overlay-project-numbers{
    transform: translateX(-100%);
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.services-overlay-project-numbers.transit-service-overlay-product-completed{
    transform: translateX(0%);
    opacity: 1;
}

.overlay-servicce-name{
    display: flex;
    align-items: center;
    gap: 10px;
    opacity: 0;
    transform: translate(-80%, 200%);
    transition: all 0.3s ease-in-out;
}

.overlay-servicce-name.transit-service-overlay-name{
    transform: translate(0%, 0%);
    opacity: 1;
}

.overlay-servicce-name p{
    font-size: 18px;
    line-height: 27px;
    font-weight: 400;
    color: #fff;
}

.service-card-image-overlay h3{
    color: #57AEE0;
    font-size: 65px;
    line-height: 88px;
    font-weight: 700;

}

.service-poster-borders-1 img{
    position: absolute;
    top: -10px;
    right: -10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.service-poster-borders-1.round-borders{
    border-radius: 10px;
    border: none !important;
}

.service-poster-borders-1.round-borders img{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.service-details{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 50%;
    gap: 40px;
    padding-right: 30px;
}

.service-details span{
    display: flex;
    align-items: center;
    gap: 10px;
}

.service-details h3{
    font-size: 38px;
    line-height: 40px;
    font-weight: 700;
    color: #fff;
    text-align: justify;
}

.service-details h3:last-child{
    color: var(--secondry-text-color);
}

.service-details p{
    font-size: 20px;
    line-height: 25px;
    font-weight: 400;
    color: #fff;
}

@media only screen and (max-width: 480px){
    .service-name {
        display: flex;
        flex-direction: column-reverse !important;
        width: 100%;
        gap: 20px;
        padding: 30px 20px;
        justify-content: space-between;
        overflow: hidden;
    }
    .service-poster {
        display: flex;
        align-items: center;
        /* justify-content: start; */
        width: 100%;
        height: auto;
        padding: 0 !important;
    }
    .service-details {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 10px;
        padding-right: 0px;
    }
    .service-details p {
        font-size: 12px;
        line-height: 15px;
        font-weight: 400;
        color: #fff;
    }
    .service-details h3 {
        font-size: 23px;
        line-height: 31px;
        font-weight: 700;
    }
}