.our-services-main-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    width: 100%;
    padding:100px 50px;
    gap: 55px;
}


.our-services-main-section h3{
    font-size: 58px;
    line-height: 80px;
    font-weight: 700;
    color: #fff;
}

.our-services-main-section h3 span{
    color: var(--secondry-text-color);
}

.services-show-case-main-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto auto;
    gap: 20px;
    position: relative;
}



.grid-col{
    border-radius: 50px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
}

.flesh-container{
    position: absolute;
    backdrop-filter: blur(5px);
    width: 120px;
    height: 800px;
    z-index: 99999;
    transform: rotate(10deg);
    transform-origin: 50% 50% 0px;
    background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.4) 30%, rgba(0, 0, 0, 0.4) 70%);
    top: -110px;
    left:   -190px;
    right: auto;
    opacity: 1;
    transition: all 0.3s ease-in-out;
    animation: shine 0.3s infinite;
}

.flesh-container.slide-flash{
    left: 100%;
    backdrop-filter: blur(10px); 
    z-index: 99999999;
    opacity: 0.12; 
    will-change: auto; 
    transform: none; 
    transform-origin: 50% 50% 0px;
    background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.4) 40%, rgba(0, 0, 0, 1) 60%);
}


.grid-col img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 10;
}

.video-production{
    grid-column: span 2;
}

.creative-interview{
    grid-row: span 2;
}

.event-managment{
    grid-column:  span 2;
}

.short-films{
    grid-column: span 2;
}

.markeeting{
    grid-column: span 2;
}

.col-overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 50;
    background-color: rgba(0, 0, 0, 0.7);
    top: 0;
    left: 0;
    bottom: 0;
    align-items: start;
    justify-content: center;
    display: flex;
    overflow: hidden;
    text-align: justify;
    transition: all 1s ease;
}



.col-overlay h3{
    color: #fff;
    font-size: 28px;
    line-height: 38px;
    font-weight: 700;
    text-align: center;
    margin-top: 24px;
    transform: translate(0%, 0%);
    opacity: 1;
    transition: all 0.5s ease-in-out;
}

.col-overlay.show-overlay h3{
    opacity: 0;
    transform: translate(20%, 100%);
}

.col-inner-overlay{
    display: flex;
    visibility: hidden;
    opacity: 0;
    overflow: hidden;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: all 0.5s ease;
}

.col-inner-overlay.show-inner-overlay{
    visibility: visible;
    opacity: 1;
    background: rgba(0, 0, 0, 0.9);
    background-image: url('../../Assets/services-images/services-overlay-image.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.inner-overlay-containt{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 20px;
}


.inner-overlay-containt h3{
    display: flex;
    align-items: center;
    color: #fff; 
    font-size: 38px;
    line-height: 40px;
    font-weight: 700; 
    background: linear-gradient(90deg, #FFF, var(--secondry-text-color) ,var(--secondry-text-color));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: translate(0%, -100%);
    transition: all 0.5s ease-in-out;
    opacity: 0;
}

.inner-overlay-containt h3 span{
    color: var(--secondry-text-color);
}

.inner-overlay-containt.inner-overlay-containt-effect h3{
    transform: translate(10%, 50%);
    /* transform: translate(0%, 0%); */
    opacity: 1;
}

.inner-overlay-containt.single-column-overlay h3{
    transform: translate(0%, 0%);
    opacity: 1;
}



.inner-overlay-containt p{
    color: #fff;
    font-size: 18px;
    line-height: 27px;
    font-weight: 500;
    opacity: 0;
    transform: translateX(-10%);
    text-align: start;
    transition: all 0.5s ease-in-out;
}

.inner-overlay-containt.inner-overlay-containt-effect p{
    transform: translateX(0%);
    opacity: 1;
}

.inner-overlay-containt.single-column-overlay p{
    transform: translateX(0%);
    opacity: 1;
}


.see-all-projects-section{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.see-all-projects-section button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 180px;
    height: 55px;
    border: 1px solid var(--border-color);
    border-radius: 31px;
    background: linear-gradient(270.29deg, rgba(156, 202, 219, 0.24) 0.24%, rgba(2, 37, 50, 0.24) 99.76%);

}


@media only screen and (max-width: 480px){
    .our-services-main-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-self: center;
        width: 100%;
        padding: 20px 30px;
        gap: 30px;
    }
    .our-services-main-section h3 {
        font-size: 22px;
        line-height: 28px;
        font-weight: 700;
        color: #fff;
    }
    .services-show-case-main-container{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .grid-col{
        width: 100%;
        height: 130px;
        border-radius: 25px;
        align-items: center;
        justify-content: center;
    }
    .col-overlay{
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
    }
    .inner-overlay-containt{
        padding: 10px;
    }
    .inner-overlay-containt.inner-overlay-containt-effect h3{
        transform: translate(0%, 0%);
        /* transform: translate(0%, 0%); */
        opacity: 1;
    }
    .inner-overlay-containt p{
        font-size: 10px;
        line-height: 14px;
    }
}