.contact-us-main-div{
    display: flex;
    width: 100%;
    padding: 60px 80px;
    background: #0C273380;

}

.contact-left-section{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 40%;
    padding: 20px;
}

.contact-heading{
    font-size: 58px;
    line-height: 80px;
    font-weight: 700;
    color: #fff;
}
.contact-heading span{
    color: var(--secondry-text-color);
}

.contact-desc{
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
}

.contact-follow{
    font-size: 28px;
    line-height: 38px;
    font-weight: 700;
    color: #fff;
}

.contact-follow span{
    color: var(--secondry-text-color);
}

.contact-social-icons{
    display: flex;
    gap: 10px;
    align-items: center;
}

.contact-social-icons a{
    background-color: #FFFFFF;
    padding: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #0C2733;
    text-decoration: none;
}

.contact-right-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: auto;
    gap: 25px;
}

.text-message{
    width: 425px;
    background-color: transparent;
    border: 1px solid var(--border-color);
    outline: none;
    color: #fff;
    padding: 12px 23px;
    border-radius: 10px;
    font-size: 17px;
    line-height: 25px;
    font-weight: 600;
}

.text-message::placeholder{
    color: #fff;
}

@media only screen and (max-width: 480px){
    .contact-desc{
        font-size: 12px;
        font-weight: 500;
        line-height: 18px;
    }
    .contact-follow{
        display: none;
    }
    .contact-social-icons{
        display: none;
    }
    .contact-us-main-div{
        flex-direction: column;
        padding: 30px 20px;
        gap: 30px;
    }
    .contact-left-section{
        width: 100%;
        gap: 20px;
        padding: 0;
    }
    .contact-right-section{
        width: 100%;
    }
    .contact-right-section input{
        width: 100% !important;
        padding: 12px 12px !important;
        font-size: 12px !important;
    }
    .text-message{
        width: 100% !important;
        padding: 12px !important;
        font-family: "Poppins" !important;
        font-size: 12px !important;
    }
    .contact-heading{
        font-size: 23px;
        line-height: 31px;
        width: 60%;
    }
}