/* @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


:root{
  --border-color: #57AEED;
  --hover-color: #57AEED;
  --font-family: "Outfit", sans-serif;
  --secondry-text-color: #57AEED;
  --section-bg: #05151d;
  --section-bg-two: #0C273380;
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #01141D;
  font-family: "Poppins", sans-serif;
}